#showuser {
       font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
       border-collapse: collapse;
       width: 60%;
}

      #showuser td, #showuser th {
       border: 1px solid #ddd;
       padding: 8px;
}

      #showuser tr:nth-child(even){background-color: #F8F8FF;}

      #showuser tr:hover {background-color: #ddd;}

      #showuser th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #FF9900;
        color: white;