	.section-pro {
		float: left;
		width: 310px;
		height: 110px;
		margin: 1px 3px;
	}
	.div-img {
		float: left;
		width: 100px;
	}
	.div-summary {
		float: left;
		width: 200px;
		text-align: left;
		font-size: 14px;
	}
	br.clear {
		clear: both;
	}
	.div-img img {
		max-width: 60px;
		max-height: 60px;
	}
	div#pagenum {
		width: 90%;
		text-align: center;
		margin-bottom: 20px;
	}
	div#dialog {
		display: none;
	}
	.ui-dialog {
		z-index: 5000 !important;
	}
	.ui-widget-overlay {
		z-index: 4000 !important;
	}
	#dialog-content {
		width: 500px;
		text-align: left;
		font-size: 14px;
	}
	#dialog-content img {
		max-width: 60px;
		max-height: 60px;
		margin: 10px 10px;	
		border: solid 1px white;	
	}
	#dialog-content img:hover {
		border: solid 1px blue;
	}
	#dialog span {
		display: block;
		margin-bottom: 15px;
	}
	#dialog-pro-name {
		font-size: 16px;
		font-weight: bold;
		color: green;
		display: block;
		margin-top: 10px;
	}
	#dialog-pro-detail {

	}
	#dialog-cat, #dialog-add-cart {
		float: right;
		margin-right: 1px;
	}
	#dialog-quantity {
		width: 50px;
	}
	#dialog-add-cart {
		
	}
	#dialog-form {
		border: solid 1px gray;
		background: powderblue;
		margin-bottom: 5px;
		display: block;
		width: 98%;
		padding: 5px;
	}
	span#cat-name {
		display: block;
		padding: 10px 3px 5px 10px;
		color: yellow;
		font-size: 18px;
		font-weight: bold;
		width: auto;
		border-bottom: dotted 1px silver;
	}
	span#cat-name > img {
		width: 20px;
		vertical-align: middle;
		margin-right: 3px;
	}
	a.category {
		display: block;
		border-bottom: dotted 1px silver;
		color: aqua;
	}
	a.category:hover {
		background: #ffc;
		color: red;
	}
	a.category > li {
		padding: 5px 2px 5px 15px;
	}
	a.category li {
		list-style-position: inside;
	}
	span#pop {
		display: block;
		padding: 10px 3px 5px 10px;
		color: green;
		font-size: 16px;
		font-weight: bold;
		width: auto;
	}
	span#pop > img {
		width: 18px;
		vertical-align: middle;
		margin-right: 1px;
	}
	.div-bestseller {
		width: 96%;
		border-top: dotted 1px gray;
		margin: 0px auto;
		padding: 3px 0xp;
	}
	.div-bestseller:last-child {
		border-bottom: dotted 1px gray;
	}
	.img-bestseller {
		width: 24px;
		height: 24px;
		vertical-align: top;
		margin: 5px;
		float: left;
		border-radius: 5px;
	}
	.pro-name-bestseller {
		font-size: 14px;
	}
	#out-of-stock {
		color:red;
		text-align:center;
		display: block;
	}