#stus-clor{
	color: #000;
}
#main-header-clor{
	background-color: #4267b2;
}
#header-card-clor{
	background-color: #57d365;
	color: white;
}
#str-uclor{
	color: white;
}
#clor-bck-imguser{
	background-color: #a18de0;
}